@charset "utf-8";
/* NOTE: Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap');

/* CSS Document */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {}

body {
  margin: 0;
  font-family: 'Montserrat';
  color: #1d1d1d;
  scroll-snap-type: y proximity;
}

a {
  color: #007DA5;
  text-decoration: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.child {
  height: 100%;
  scroll-snap-align: start;
}

.navbar-container {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 0 30px;
  overflow: hidden;
}

.logo {
  font-family: 'Montserrat';
  padding: 2em;
  font-size: 25px;
  color: #1d1d1d;
}

.links-wrapper {
  padding: 0 20px;
  margin-left: auto;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.horizontal-line {
  width: 80px;
  height: 2px;
  background-color: #707070;
  margin: 0 10px;
}

.socials {
  font-size: 18px;
  line-height: 100%;
  color: #1d1d1d;
  padding: 0 6px;
  display: inline-block;
  z-index: 1;
}

.fa {
  margin: 0 4px;
  transition: 0.4s;
  opacity: 1;
}

.fa:hover {
  opacity: 0.7;
}

#landing {
  background-image: url(/images/Splash_L3.png), url(/images/Splash.svg), url(/images/Splash_L1.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  scroll-snap-align: start;
}

.landing-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.landing-content {
  left: 25%;
  top: 30%;
  height: 100px;
  margin: auto;
  position: absolute;
  display: inline-block;
}

.intro {
  font-size: 3em;
}

.title {
  font-family: 'Lemon/Milk';
  font-size: 8em;
  line-height: 1.0;
  color: #007DA5;
}

.subtitle {
  text-transform: uppercase;
}

.page-indicator-container {
  position: fixed;
  left: 20px;
  bottom: 0px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.page-indicator-wrapper {
  height: 20px;
  width: auto;
  margin: 7px 0;
  display: flex;
  position: relative;
  align-items: center;
}

.page-indicator-label {
  display: inline-block;
  padding: 10px;
  opacity: 0;
  margin: 0 5px;
  transition: 0.5s;
}

.page-indicator {
  margin-top: auto;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #d3d3d3;
  display: inline-block;
}

.filled {
  background-color: #007DA5;
}

.page-indicator-wrapper:hover .page-indicator-label {
  opacity: 1;
}

.vertical-line {
  width: 2px;
  height: 70px;
  margin: 10px 7px;
  background-color: #707070;
}

#about {
  display: block;
  position: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  align-items: center;
  scroll-snap-align: start;
}

#about span {
  color: #007DA5;
  font-weight: 600;
}

.about-container {
  height: 100%;
  width: 70%;
  margin: auto;
  overflow: hidden;
}

.section-title {
  font-family: 'Lemon/Milk';
  font-size: 80px;
  margin-top: 100px;
  width: auto;
  opacity: 20%;
  -webkit-opacity: 20%;
}

.photo-text-wrapper {
  width: 100%;
  display: table;
}

.photo {
  height: 300px;
  width: 550px;
  max-height: 300px;
  max-width: 550px;
  background-color: #d3d3d3;
  display: table-cell;
}

.about-text {
  max-width: 700px;
  font-size: 20px;
  line-height: 1.5;
  height: auto;
  color: #1d1d1d;
  padding: 0 30px;
  display: table-cell;
}

.divider-wrapper {
  margin-top: 40px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  height: 2px;
  width: 35%;
  background-color: #1d1d1d;
}

.divider-title {
  font-family: Montserrat;
  font-size: 30px;
  padding: 0 20px;
  text-transform: uppercase;
}

.skills-wrapper {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-card {
  width: 20%;
  margin: 20px;
  padding: 10px;
}

.skill-title {
  font-size: 40px;
  font-family: 'Lemon/Milk';
  opacity: 0.2;
}

.skill-list {
  font-family: 'Montserrat';
  font-size: 20px;
  line-height: 2.0;
}

#gallery {
  display: block;
  position: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  align-items: center;
  scroll-snap-align: start;
}

#gallery-title {
  height: 1.5em;
}

.gallery-container {
  height: 100%;
  width: 70%;
  margin: auto;
  overflow: hidden;
  display: flex;
}

.grid-container {
  position: absolute;
  display: flex;
  width: auto;
  margin: 200px auto 0 auto;
}

.col-one {
  display: flex;
  flex-direction: column;
  max-width: 288px;
  margin-right: 7px;
}

.col-two {
  display: flex;
  flex-direction: column;
  max-width: 283px;
  margin-right: 10px;
}

.col-three {
  display: flex;
  flex-direction: column;
  max-width: 288px;
  margin-right: 7px;
}

.col-four {
  display: flex;
  flex-direction: column;
  max-width: 288px;
  margin-right: 7px;
}

.col-five {
  display: flex;
  flex-direction: column;
  max-width: 283px;
}

.landscape img {
  width: 288px;
  height: 191px;
  background-color: #d3d3d3;
  margin: 4px 5px;
}

.portrait img {
  width: 288px;
  height: 393px;
  margin: 5px;
  background-color: #d3d3d3;
}

#projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  align-items: center;
  scroll-snap-align: start;
}

#project-title {
  width: wrap;
  margin-top: 150px;
}

.projects-container {
  height: 100%;
  width: 70%;
  margin: auto;
  overflow: hidden;
  display: flex;
}

.text-wrapper {
  display: inline-block;
}

.projects-text {
  width: 60%;
  display: inline-block;
  line-height: 1.5;
}

.project-grid {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 150px;
  margin-left: 10px;
}

.column {
  display: inline-block;
}

.card {
  position: relative;
  height: 200px;
  width: 300px;
  background-color: #d3d3d3;
  margin: 10px 5px;
  display: block;
}

.card-img {
  height: 200px;
  width: 300px;
  transition: 0.6s;
}


.card-overlay {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  background: #000 no-repeat center 10%;
  background-size: 50px 50px;
  opacity: 0;
  filter: alpha(opacity=0);
  /*For IE6 - IE8*/
  transition: all 0.6s;
}

.card:hover .card-overlay {
  opacity: 0.8;
}

.card:hover .card-title {
  opacity: 1;
}

.card:hover .card-subtitle {
  opacity: 1;
}
.card-text {
  display: block;
  padding: 30px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: left;
  font-style: normal;
  font-size: 13px;
  text-transform: none;
  font-family: 'Century Gothic';
  font-weight: normal !important;
  /*top:40%;*/
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  /*For older IE*/
  transform: translateY(-20px);
  transition: all .3s;
}
.card-title {
  display: block;
  padding: 0px 30px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: left;
  text-transform: capitalize;
  font-size: 24px;
  line-height: 1.0;
  font-weight: bold;
  font-family: 'Lemon/Milk';
  font-weight: normal !important;
  top: 30%;
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  /*For older IE*/
  transform: translateY(-20px);
  transition: all .6s;
}
.card-divider {
  width: 80%;
  height: 1px;
  background-color: #fff;
  margin: 2% 0% 0% 0%;
  z-index: 100;
}
.card-subtitle {
  left: 0;
  top: 0;
  text-align: left;
  font-size: 13px;
  line-height: 1.0;
  font-family: 'Montserrat';
  font-style: italic;
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  /*For older IE*/
  transform: translateY(-20px);
  transition: all .3s;
}
.card:hover .card-text {
  color: #fff;
  opacity: 1;
}

#contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  align-items: center;
  scroll-snap-align: start;
}

#contact-title {
  display: inline-block;
  width: wrap;
}

.contact-container {
  height: 70%;
  width: 70%;
  margin: auto;
  overflow: hidden;
  display: flex;
}

.contact-text-wrapper {
  display: inline-block;
  width: auto;
}

.contact-text {
  display: block;
  width: 600px;
}

.contact-photo {
  margin-left: auto;
  width: 600px;
  height: 500px;
  background-color: #fff;
  margin: auto;
}

.contact-photo img {
  height: 100%;
  width: auto;
}
