@charset "utf-8";
/* NOTE: Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap');

/* CSS Document */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {}

body {
  margin: 0;
  font-size: 1em;
  font-family: 'Montserrat';
  color: #1d1d1d;
}

a {
  color: #007DA5;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #00698A;
  text-decoration: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-family: 'Montserrat';
  padding: 1.5em;
  font-size: 1.5em;
  color: #1d1d1d;
}

.fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.navbar-text {
  padding: 1.5em;
}

.links-wrapper {
  padding: 0 20px;
  margin-left: auto;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.horizontal-line {
  float: left;
  width: 80px;
  height: 2px;
  background-color: #707070;
}

.socials {
  font-size: 18px;
  line-height: 100%;
  color: #1d1d1d;
  padding: 0 6px;
  display: inline-block;
  z-index: 1;
}

.fa {
  margin: 0 4px;
  transition: 0.4s;
  opacity: 1;
  padding: 5px;
}

.fa:hover {
  opacity: 0.7;
}

.splash {
  max-width: 60%;
  height: auto;
}

.landing-content {
  left: 25%;
  top: 30%;
  height: 100px;
  margin: auto;
  position: absolute;
  display: inline-block;
}

.intro {
  font-size: 3em;
}

.title {
  font-family: 'Jost';
  font-weight: 800;
  font-size: 8em;
  line-height: 1.0;
  color: #007DA5;
}

.subtitle {
  text-transform: uppercase;
}

.display-1 {
  font-family: 'Jost';
  line-height: 0.8;
  font-weight: 600;
  color: #8f8f8f;
  opacity: 0.5;
  text-transform: uppercase;
}

.display-2 {
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: #1f1f1f;
  font-size: 2em;
}

.filter {
  font-family: 'Montserrat';
  text-transform: lowercase;
  color: #d3d3d3;
  font-size: 1.3em;
  border-radius: 0%;
  color: #d3d3d3;
  margin-right: 10px;
  transition: 0.3s;
}

.gallery {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-width: 25%;
  -moz-column-width: 25%;
  column-width: 25%;
  column-fill: balance;
  -moz-column-fill: balance;
  -webkit-column-fill: balance;
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.gallery .animation {
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
}

.headshot {
  height: 200px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #1f1f1f;
}

.card {
  border: none;

}

.card-title {
  font-family: 'Montserrat';
  font-size: 1.8em;
  font-weight: 800;
  color: #007DA5;
  text-transform: uppercase;
}

.card-text {
  font-size: 1.0em;
}

.page-indicator-container {
  position: fixed;
  left: 20px;
  bottom: 0px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.page-indicator-wrapper {
  height: 20px;
  width: auto;
  margin: 7px 0;
  display: flex;
  position: relative;
  align-items: center;
}

.page-indicator-label {
  display: inline-block;
  padding: 10px;
  opacity: 0;
  margin: 0 5px;
  transition: 0.5s;
}

.page-indicator {
  margin: 7px 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: solid 1px #d3d3d3;
  display: inline-block;
}

.filled {
  border: none;
  background-color: #007DA5;
}

.page-indicator-wrapper:hover .page-indicator-label {
  opacity: 1;
}

.desktop-only {
  display: block;
}

.desktop-only-flex {
  display: flex;
}
.vertical-line {
  width: 2px;
  height: 70px;
  margin: 10px 7px;
  background-color: #707070;
}

.p-gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}

button.close {
  position: absolute;
  right: 0;
  z-index: 2;
  padding-right: 1rem;
  padding-top: .6rem;
}

.modal-title {
  font: 600 2em/1.0 'Jost';
  text-transform: uppercase;
  color: #1f1f1f;
  opacity: 0.5;
}

.custom {
  padding: 30px;
  border-radius: 0%;
  border: none;
  background-color: #fff;
}

.label {
  font-family: 'Montserrat';
  opacity: 0.6;
  padding: 2px;
}

.btn-style {
  color: #fff;
}

.send-btn {
  background-color: #007DA5;
}

.mobile-only {
  display: none;
}

.mobile-only-flex {
  display: none;
}

@media (max-width: 800px) {
  .display-1 {
    font-size: 3em;
    margin: 10px;
  }

  .display-2 {
    font-size: 1.0em;
  }

  .desktop-only {
    display: none;
  }

  .centered {
    text-align: center;
  }

  .md-form {
    text-align: left;
  }

  .card-text {
    font-size: 0.8em;
    padding: 0;
    margin-bottom: 5px;
  }

  .card-title {
    font-size: 1em;
  }
}

@media (max-width: 800px) {
  .p-gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
  }

  .title {
    font-size: 5em;
  }

  .mobile-content {
    display: block;
    width: auto;
  }

  .mobile-splash img {
    height: 70px;
  }

  .headshot {
    margin-bottom: 10px;
  }

  .mobile-only {
    display: flex;
  }

  #projects {
    margin-top: 30px;
  }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

    .p-gallery {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-width: 50%;
      -moz-column-width: 50%;
      column-width: 50%;
    }

    .title {
      font-size: 5em;
    }

    .mobile-content {
      display: block;
      width: auto;
    }

    .mobile-splash img {
      height: 70px;
    }

    .headshot {
      margin-bottom: 10px;
      border-radius: 50%;
    }

    .mobile-only {
      display: flex;
    }
    .mobile-only-flex {
      display: block;
    }
    .desktop-only-flex {
      display: none;
    }

    #projects {
      margin-top: 30px;
    }

    .horizontal-line {
      float: left;
      width: 30px;
      height: 2px;
      background-color: #707070;
    }

    .navbar-brand {
      font-size: 1em;
      padding: 0.5em;
    }

    .socials {
      font-size: 10px;
      line-height: 100%;
      color: #1d1d1d;
      padding: 0 6px;
      display: inline-block;
      z-index: 1;
    }

}

@media (max-width: 800px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
  }
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }

  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
  }
}
